.number-dial {
  display: inline-block;
  margin: 1em;
  width: 48px;
}

.increment, .decrement {
  text-align: center;
  color: rgba(255, 255, 255, 0.25);
}

.increment:active, .decrement:active {
  color: rgba(255, 255, 255, 0.80);
}

.increment.disabled:active, .decrement.disabled:active {
  color: rgba(255, 0, 0, 0.80);
}

.value {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 4.5em;
  text-align: center;
}
