.number-group {
  border: 1px solid white;
  margin: 1em 1.5em;
  padding: 0;
  text-align: center;
}

.control {
  display: inline-block;
  border: 1px solid white;
  padding: 0.5em;
  margin: 0 0.5em 1em;
  width: 4em;
}