$color-white: #FFFFFF;
$color-black: #000000;
$color-red: #FF0000;

.number-group {
  text-align: center;
}

number-dial {
  display: inline-block;
}

.control {
  display: inline-block;
  border: 1px solid $color-black;
  padding: 0.5em;
  margin: 0 0.5em 1em 0.5em;
  width: 4em;
  box-sizing: content-box;
}

.control:active {
  background-color: darken($color-white, 80%);
  border: 1px solid $color-white;
}

.control.disabled:active {
  background-color: darken($color-red, 25%); 
  border: 1px solid $color-red; 
}
